@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
}

:root {
  --background-color: #d9d9d9;
  --foreground-color: #f6f6f6;
  --primary-text-color: rgba(0, 0, 0, 0.9);
  --secondary-text-color: rgba(0, 0, 0, 0.54);
  --tertiary-text-color: #666666;
  --gradient: #fff;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --turquoise: #63d7b0;
}

[data-theme="dark"] {
  --background-color: #1e1e1e;
  --foreground-color: #444e44;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #999;
  --tertiary-text-color: #666666;
  --gradient: #121212;
  --box-shadow: 0px 0px 12px 1px rgba(255, 255, 255, 0.37);
  --turquoise: #63d7b0;
}
